<mat-card>
  <mat-card-header>
    <mat-card-title>Slider</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <mat-form-field class="example-margin">
        <input [(ngModel)]="value" matInput placeholder="Value" type="number">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input [(ngModel)]="min" matInput placeholder="Min value" type="number">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input [(ngModel)]="max" matInput placeholder="Max value" type="number">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input [(ngModel)]="step" matInput placeholder="Step size" type="number">
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-checkbox [(ngModel)]="showTicks" class="example-margin">Show ticks</mat-checkbox>
      <mat-checkbox *ngIf="showTicks" [(ngModel)]="autoTicks" class="example-margin">
        Auto ticks
      </mat-checkbox>
      <mat-form-field *ngIf="showTicks && !autoTicks" class="example-margin">
        <input [(ngModel)]="tickInterval" matInput placeholder="Tick interval" type="number">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox [(ngModel)]="thumbLabel" class="example-margin">Show thumb label</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox [(ngModel)]="vertical" class="example-margin">Vertical</mat-checkbox>
      <mat-checkbox [(ngModel)]="invert" class="example-margin">Inverted</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox [(ngModel)]="disabled" class="example-margin">Disabled</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>
    <mat-slider
      class="example-margin"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [(ngModel)]="value"
      [vertical]="vertical">
    </mat-slider>
  </mat-card-content>
</mat-card>
