<mat-card>
  <mat-card-header>
    <mat-card-title>Auto Complete</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input [formControl]="stateCtrl" [matAutocomplete]="auto" aria-label="State" matInput placeholder="State"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img aria-hidden height="25" src="{{state.flag}}" style="vertical-align:middle;"/>
            <span>{{ state.name }}</span> |
            <small>Population: {{state.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br/>
      <mat-slide-toggle
        (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()"
        [checked]="stateCtrl.disabled"
      >
        Disable Input?
      </mat-slide-toggle>
    </form>
  </mat-card-content>
</mat-card>
