<mat-card>
  <mat-card-content>

    <mat-table *ngIf="ticketList" [dataSource]="ticketListTableData" style="width: 100%">
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> id</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> name</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> status</th>
        <td *matCellDef="let ticket" mat-cell> {{ticket.status}} </td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>
    </mat-table>
  </mat-card-content>
</mat-card>
