<mat-card>
  <mat-card-header>
    <mat-card-title>Tooltip</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-user-input">
      <mat-select [formControl]="position" placeholder="Tooltip position">
        <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
          {{ positionOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button [matTooltipPosition]="position.value" aria-label="Button that displays a tooltip in various positions"
            mat-raised-button matTooltip="Info about the action">
      Action
    </button>
  </mat-card-content>
</mat-card>
