<mat-toolbar class="fix-nav" color="primary">
  <button (click)="toggleSidebar()" class="visible-md" mat-icon-button type="button">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    Jakkolwiek
  </div>

  <span class="nav-spacer"></span>

  <button [matMenuTriggerFor]="profile" class="hidden-sm" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>{{ 'Profile' | translate }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>inbox</mat-icon>
      <span>{{ 'Inbox' | translate }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>{{ 'Settings' | translate }}</span>
    </button>
  </mat-menu>
  <button (click)="onLoggedout()" mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
